#home{
    padding: 20px;

}

div.img{
    max-width: 100%;
    display: flex;
    align-items: center;
}

img{
    border-radius: 50%;
    max-width: 99%;
    margin: 5px auto;
}

div.details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.details h1{
    text-align: center;
}
div.details h3 {
    margin: 0;
    font-style: italic;
    font-weight: 300;
}
hr {
    max-width: 300px;
    color: black;
}
p.github{
    padding: 10px;
    text-align: center;
}
p.github:hover{
    text-decoration: underline;
}
p.github a{
    color: #000;
    text-decoration: none;
}
p.github a i{
    font-size: xx-large;

}

div.socialNetwork {
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}
div.socialNetwork button{
    background-color: rgb(152, 70, 3);
    border-color: rgb(152, 70, 3);
    padding: 4px;
    font-weight: bold;
    color: white;
    margin: 2px auto;
}
div.socialNetwork p{
    text-align: center;
}
div.socialNetwork p a{
    font-size: x-large;
    color: #000;
    text-decoration: none;

}
