@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Font */
body{
    font-family: 'Roboto', sans-serif;
}
h1,h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

/* Header */
body{
    margin: 0;
    background-color: rgb(255, 184, 127);
    /* background-color: rgb(255, 170, 101); */


}


header, footer{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(152, 70, 3);
    color: #fff;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
nav p {
    margin: 0;
}
nav p:hover {
    text-decoration:underline; 
    cursor: pointer; 
  }
  nav p a{
    color: white;
    font-weight: 800;
    text-decoration: none;
    padding: 1px;
  }


/* Footer */
footer {
    flex-direction: column;
    padding: 0;        
}
footer p.copy{
    width: 100%;
    border-top: solid 2px blue;
    text-align: center;
    margin: 0;
    padding: 8px 0;
}

