@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Font */
body {
    font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

/* Header */
body {
    margin: 0;
    background-color: rgb(255, 184, 127);
    /* background-color: rgb(255, 170, 101); */
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0px 20px;
    background-color: rgb(152, 70, 3);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

nav p {
    margin: 0;
}

nav p:hover {
    cursor: pointer;

}

nav p a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

nav p a:hover {
    color: rgb(255, 184, 127);
    ;

}

p.blog-para a {
    color: white;
}

h1 {
    color: #333;
}

#angebhd {
    color: rgb(152, 70, 3);
}

button.menu-button {
    background-color: #333;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    display: none;
    /* Hide the button by default */
}

/* Footer */
footer {
    flex-direction: column;
    padding: 0;
}

footer p.copy {
    width: 100%;
    border-top: solid 3px black;
    text-align: center;
    margin: 0;
    padding: 8px 0;
}

@media screen and (max-width: 468px) {
    button.menu-button {
        display: block;
        /* Show the button on small screens */
        cursor: pointer;
        font-size: 1.2rem;
        color: #fff;
        background-color: rgb(152, 70, 3);

    }

    header {
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: start;
        background-color: rgb(152, 70, 3);
    }

    body.addMargin {
        padding-top: 80px;
    }

    nav {
        display: none;
    }

    nav p a {
        padding: 3px;
    }

    nav.show {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    hr {
        width: 100%;
    }
}